*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body{
    text-align: center;
    min-height: 100vh;
    background: url(./media/basic-pics/6.jpg);
    background-size: cover;
}

#canvas{
    cursor: pointer;
    border: 1px solid;
    background: linear-gradient(135deg,#ff00006b 0%, #5898b1da 100%);
    height: 500px;
    width: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 5px 5px black;
}

.scoreboard{
    color: white;
}


/* vanGogh */
.vanGogh {
    position: absolute;
    transform: translate(-50%, -50%);
     height: var(--y);
     width: var(--x);
     --scaler: 1;
     animation: vanAnim 14s forwards;
}

.vanGogh:hover {
    --scaler : 1.03;
}
.vanGogh:active {
    --scaler : 0.97;
}

@keyframes vanAnim {
    from {
      transform: translate(0%, 0%) scale(var(--scaler));
    }
    to {
      transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
    }
  }
  
/* endscreen */

#endScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.452);
    text-transform: uppercase;
    cursor: pointer;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
  }
.gameOver {
    margin: 10rem auto 0;
    width: 70%;
    line-height: 9rem;
    font-size: 5rem;
    background: rgba(0, 0, 0, 0.582);
    color: #c5c5c5;
    box-shadow: 0 10px 15px black;
  }